@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

@{
}
 
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - DeliveryBoyApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Dashboard", "Admin")">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("AddOrderDetails", "Admin")">AddOrderDetails</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Profile", "Admin")">Profile</a>
                </li>
            </ul>
        </div>
        <div class="navbar-nav ml-auto mr-auto">
            <span class="text-light"> Welcome, @Accessor.HttpContext.Session.GetString("UserName") </span>
            <span style = "margin-left: 20px;">
            <form action="@Url.Action("Logout", "Home")" method="post">
                <button type="submit" class="btn btn-success">Logout</button> 
            </form>
            </span>
        </div>











    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>